body{
  background-color: rgba(0, 0, 0, 0.241);
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgba(0, 0, 0, 0.327);
  margin: auto;
  position: relative;
  top: 8rem;
  border-radius: 10px;
  width: 299px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}